.image {
  background-image: url(/img/danna-01.jpeg);
  background-position: 50% 30%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
   min-height: 100vh; /* para ver pantalla completa */
}

.menu {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  transition-duration: 0.2s;
  padding: 20px 0;
  z-index: 999;
}
.menu .link {
  background-color: transparent;
  text-decoration: none;
  padding: 8px 40px;
  display: inline-block;
  transition-duration: 0.2s;
  font-size: 1.4em;
}
.flex {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}
.flex .left {
  text-align: left;
  width: 40%;
  font-size: 2em;
  margin-right: auto;
  text-align: right;
}
.flex .right {
  text-align: left;
  width: 40%;
  font-size: 2em;
  margin-left: auto;
}
.footer {
  text-align: center;
  position: fixed;
  left: 0;
  width: 100%;
  transition-duration: 0.2s;
  z-index: 999;
  bottom: 0;
  padding-bottom: 20px;
}