.image {
  background-image: url(/img/danna-01.jpeg);
  background-position: 50% 30%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh; /* para ver pantalla completa */
}

.flex {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 996;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
}
.flex .left {
  text-align: left;
  width: 30%;
  font-size: 2em;
  margin-right: auto;
  text-align: right;
  color: white;
}
.flex .right {
  text-align: left;
  width: 30%;
  font-size: 2em;
  margin-left: auto;
  color: white;
}
.footer {
  text-align: center;
  position: fixed;
  left: 0;
  width: 100%;
  transition-duration: 0.2s;
  z-index: 999;
  bottom: 0;
  padding-bottom: 20px;
  color: white;
}
.flex .right a {
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .left {
    padding-left: 20px;
  }
}
