.menuClaro {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  transition-duration: 0.2s;
  padding: 20px 0;
  z-index: 999;
  color: white;
}
.menuClaro .link {
  background-color: transparent;
  text-decoration: none;
  padding: 8px 40px;
  display: inline-block;
  transition-duration: 0.2s;
  font-size: 1.4em;
}

.menuOscuro {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  transition-duration: 0.2s;
  padding: 20px 0;
  z-index: 999;
  color: black;
}
.menuOscuro .link {
  background-color: transparent;
  text-decoration: none;
  padding: 8px 40px;
  display: inline-block;
  transition-duration: 0.2s;
  font-size: 1.4em;
}

.link:hover {
  color: #81ff8f;
}
@media only screen and (max-width: 1000px) {
  .navDesktop {
    display: none;
  }
  
}
