.showItem {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.showItem .left {
  width: 25%;
}
.showItem .center {
  width: 50%;
  text-align: left;
  font-size: 0.9em;
  padding: 0 20px;
}
.showItem .right {
  width: 25%;
}
.showItem .button {
  display: inline-block;
}
.showItem .button a {
  background-color: transparent;
  border: 3px solid;
  text-decoration: none;
  padding: 8px 40px;
  display: inline-block;
  transition-duration: 0.2s;
}
.showItem .button a:hover {
  background-color: black;
  transition-duration: 0.2s;
  color: white;
}
