.tienda {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tienda .title {
  color: white;
}
.tienda .text {
  color: white;
  font-size: 32px;
  animation-name: neon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-duration: 0.2s;
}

@keyframes neon {
  1% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #000, 0 0 42px #000,
      0 0 82px #000, 0 0 92px #000, 0 0 102px #000, 0 0 151px #000;
  }
  50% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff,
      0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 75px #fff;
  }
  100% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #000, 0 0 42px #000,
      0 0 82px #000, 0 0 92px #000, 0 0 102px #000, 0 0 151px #000;
  }
}
