.tienda {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tienda .title {
  color: white;
}
.tienda .text {
  color: white;
}
