.tour {
  background-color: white;
}
.tourFlex {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tourFlex > .left {
  width: 50%;
}
.tour .image {
  width: 100%;
}
.tour .image .imageImg {
  width: 100%;
  height: auto;
}
.tourFlex > .right {
  width: 50%;
  color: black;
  /* ESTILOS PARA CAJA SCROLEABLE */
  height: 70vh;
  overflow-y: auto; /* PARA SCROLEAR*/
}
.tour .shows {
  padding: 20px 10px;
}
