.tour {
  background-color: white;
  padding-top: 100px;
}
.tourFlex {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.tourFlex > .left {
  width: 40%;
}
.tour .image {
  width: 100%;
}
.tour .image .imageImg {
  width: 100%;
  height: auto;
}
.tourFlex > .right {
  width: 60%;
  color: black;
  height: 70vh;
  overflow-y: auto;
}
.tour .shows {
  padding: 20px 10px;
}
@media only screen and (max-width: 1000px) {
  .tourFlex {
    display: block;
    padding-bottom: 50px;
  }
  .tourFlex > .left {
    width: 100%;
  }
  .tourFlex > .right {
    width: 100%;
    display: block;
    overflow-y: initial;
    height: auto;
  }
}
